<div class="home">
  <div class="col-md-12">
    <div class="row">
        <br>
        <br>

      <div class="col-sm-4">
          <div class="thumbnail">
          <i class="material-icons">person_add</i>
          <div class="caption text-center">
            <h3>+254 791 032 460</h3>
            <p class="lead">save the pythias-bot number to your phone contacts</p>
            </div>
          </div>
      </div>

      <div class="col-sm-4">
        <div class="thumbnail">
          <i class="material-icons">linked_camera</i>
          <div class="caption text-center">
            <h3>send image</h3>
            <p class="lead">open Whatsapp or Telegram and send an image to pythias-bot</p>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="thumbnail">
          <i class="material-icons">weekend</i>
          <div class="caption text-center">
            <h3>wait for response</h3>
            <p class="lead">sit back (or stand if you want) and wait for your response</p>
          </div>
        </div>
      </div>

    </div> <!-- /.row -->

    <hr>

    <div class="row">
      <div class="col-sm-4 text-left">
      </div>
      <div class="col-sm-4 text-center">
      </div>
      <div class="col-sm-4 text-left">
          <p>
          <a href="">FAQs</a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="">Usage Policy</a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="">Team</a>
          </p>
      </div>
    </div> 


</div> <!-- home -->
