<div class="home">
  <div class="col-md-12">
    <div class="row">
        <br>
        <br>

      <div class="col-sm-4">
          <div class="thumbnail">
          <i class="material-icons">person_add</i>
          <div class="caption text-center">
            <h3>add pythias-bot contacts</h3>
            <hr>
            <p class="lead">add <a href="whatsapp://send?text=" target="_blank">+254 791 032 460</a> on whatsapp</p>
            <p class="lead">OR</p>
            <p class="lead">add <a href="https://telegram.me/pythiasbot" target="_blank">pythias-bot</a> on telegram</p>
            </div>
          </div>
      </div>

      <div class="col-sm-4">
        <div class="thumbnail">
          <i class="material-icons">linked_camera</i>
          <div class="caption text-center">
            <h3>send image</h3>
            <hr>
            <p class="lead">open Whatsapp or Telegram</p>
            <p class="lead">attach an image</p>
            <p class="lead">send to pythias-bot</p>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="thumbnail">
          <i class="material-icons">weekend</i>
          <div class="caption text-center">
            <h3>wait for response</h3>
            <hr>
            <p class="lead">sit back - or stand if you like</p>
            <p class="lead"><i class="em em-walking"></i></p>
            <p class="lead">wait for your response</p>
            <p class="lead"></p>
          </div>
        </div>
      </div>

    </div> <!-- /.row -->

    <hr>

    <div class="row">
      <div class="col-sm-4 text-left">
      </div>
      <div class="col-sm-4 text-center">
      </div>
      <div class="col-sm-4 text-left">
          <p>
          <a href="">FAQs</a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="">Usage Policy</a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="">Team</a>
          </p>
      </div>
    </div> 


</div> <!-- home -->
